---
import ExperienceItem from './ExperienceItem.astro';

const experiences = [
    {
        title: 'Técnico Informatico > Digitalnet Tecnología',
        description: '15 años de experiencia como encargado de servicio técnico especializado, atención al público, ventas y fidelización del cliente. Diseño gráfico. Emprendimiento propio donde incorporé varios proyectos rentables a lo largo de los años.',
        date: '2008 - Actualmente',
    },
    {
        title: 'Técnico en Programacion',
        description: 'Desarrollador Full Stack Freelance',
        date: '2021 - Actualmente',
    },
];
---


<ol class="relative border-s border-gray-200 ml-3 dark:border-gray-700">      
    {experiences.map(experience => (
    <li class="mb-10 ms-4 text-pretty">
        <ExperienceItem {...experience} />
    </li>
    ))}
</ol>

