---
import ExperienceItem from './ExperienceItem.astro';

const experiences = [
    {
        title: 'Tecnico Informatico > Digitalnet Tecnologia',
        description: '15 años de experiencia como encargado de servicio tecnico especializado, atencion al publico, ventas y fidelizacion del cliente. Diseño grafico. Emprendimiento propio donde incopore varios proyectos rentables a lo largo de los años.',
        date: '2008 - Actualmente',
    },
    {
        title: 'Tecnico en Programacion',
        description: 'Desarrollador Full Stack Freelance',
        date: '2021 - Actualmente',
    },
];
---


<ol class="relative border-s border-gray-200 ml-3 dark:border-gray-700">      
    {experiences.map(experience => (
    <li class="mb-10 ms-4 text-pretty">
        <ExperienceItem {...experience} />
    </li>
    ))}
</ol>

