---
import ExperienceItem from './ExperienceItem.astro';

const experiences = [
    {
        title: 'Tecnico Informatico > Digitalnet Tecnologia',
        description: '15 años de experiencia resolviendo todo lo que se me presenta en el mostrador. Experto en fidelizacion del cliente y ventas, servicio tecnico y soluciones graficas en el momento.',
        date: '2008 - Actualmente',
    },
    {
        title: 'Tecnico Programador',
        description: 'Freelance en el desarrollo Full Stack',
        date: '2021 - Actualmente',
    },
];
---


<ol class="relative border-s border-gray-200 ml-3 dark:border-gray-700">      
    {experiences.map(experience => (
    <li class="mb-10 ms-4 text-pretty">
        <ExperienceItem {...experience} />
    </li>
    ))}
</ol>

