---
import ExperienceItem from './ExperienceItem.astro';

const experiences = [
    {
        title: 'Encargado General > Digitalnet Tecnologia',
        description: 'Soy tan pero tan capo, que a veces llego a trabajar y digo: No estaria buenisimo volarse los cesos en este momento antes que atender a otra persona que no sabe lo q quiere?',
        date: '2008 - Actualmente',
    },
    {
        title: 'Desarrollador Full Stack',
        description: 'Descripción de la experiencia 2',
        date: '2012-01-01',
    },
];
---


<ol class="relative border-s border-gray-200 ml-3 dark:border-gray-700">      
    {experiences.map(experience => (
    <li class="mb-10 ms-4 text-pretty">
        <ExperienceItem {...experience} />
    </li>
    ))}
</ol>

