---
import Darki from "../Icons/Darkmode.astro";

---


<header class="fixed top-0 left-0 right-0 flex justify-center items-center py-2 sm:py-3 bg-black/50 backdrop-blur-sm z-50">
  <nav class="flex flex-row flex-wrap items-center justify-center gap-x-3 sm:gap-x-5 md:gap-x-8 text-white opacity-80">
    <a href="#top" class="text-xs sm:text-sm md:text-base hover:text-yellow-200 transition-colors">Inicio</a>
    <a href="#experiencia" class="text-xs sm:text-sm md:text-base hover:text-yellow-200 transition-colors">Experiencia</a>
    <a href="#proyectos" class="text-xs sm:text-sm md:text-base hover:text-yellow-200 transition-colors">Proyectos</a>
    <a href="#sobre-mi" class="text-xs sm:text-sm md:text-base hover:text-yellow-200 transition-colors">Sobre mí</a>
    <a href="#contacto" class="text-xs sm:text-sm md:text-base hover:text-yellow-200 transition-colors">Contacto</a>
    
    <!-- Botón de alternancia de modo -->
    <button id="theme-toggle" class="ml-auto text-xs sm:text-sm md:text-base hover:text-yellow-200 transition-colors">
      <Darki class="size-4" />
    </button>
  </nav>
</header>
<script>
  const themeToggleBtn = document.getElementById('theme-toggle');
  const htmlElement = document.documentElement;

  // Verificar si el usuario tiene una preferencia almacenada
  const storedTheme = localStorage.getItem('theme');
  if (storedTheme) {
    htmlElement.classList.remove('light', 'dark');  // Elimina cualquier clase anterior
    htmlElement.classList.add(storedTheme);
  }

  themeToggleBtn.addEventListener('click', () => {
    if (htmlElement.classList.contains('dark')) {
      htmlElement.classList.remove('dark');
      htmlElement.classList.add('light');
      localStorage.setItem('theme', 'light');
    } else {
      htmlElement.classList.remove('light');
      htmlElement.classList.add('dark');
      localStorage.setItem('theme', 'dark');
    }
  });
</script>