---
import { Image } from 'astro:assets';
---

<section
  id="sobre-mi"
  data-section="sobre-mi"
  class="section undefined scroll-m-20 w-full mx-auto container lg:max-w-xl md:max-w-2xl"
>
  
  <article
    class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300"
  >
    <!-- Imagen centrada arriba -->
    <Image
      src="/projects/mee.webp"
      alt="Marco"
      width={200}
      height={200}
      class="object-cover w-64 h-full p-1 rotate-3 lg:p-2 lg:black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
      style="object-position: 50% 50%"
    />


    <!-- Contenido del texto -->
    <p class="font-mono text-pretty text-center">
      Con 15 años de experiencia en el ámbito informático, he sido técnico
      informático y he gestionado mi propio local especializado en servicio
      técnico, atención personalizada, diseño gráfico y ventas de productos informáticos, entre otros. Desde
      pequeño, he tenido la aspiración de ser programador. En 2023
      me gradué como Técnico en Tecnologías de la Programación en la Universidad Provincial del Sudoeste,
      también finalicé un curso de Analista de Datos Jr en la Universidad de Chilecito. Desde entonces me he capacitado 
      y sumado experiencia en diversas tecnologías y lenguajes.
    </p>
  </article>
</section>
