---

---

<section
  id="sobre-mi"
  data-section="sobre-mi"
  class="section undefined scroll-m-20 w-full mx-auto container lg:max-w-xl md:max-w-2xl"
>
  <h2
    class="flex items-center mb-5 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white undefined"
  >
    <svg
      class="stroke-1"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M12 4a8 8 0 1 0 0 16a8 8 0 0 0 0 -16"></path>
      <path d="M15 191 214 -4"></path>
    </svg>
  </h2>
  <article
    class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300"
  >
    <!-- Imagen centrada arriba -->
    <img
      width="200"
      height="200"
      src="/projects/mee.webp"
      alt="Marco"
      class="object-cover w-64 h-full p-1 rotate-3 lg:p-2 lg:black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
      style="object-position: 50% 50%"
    />

    <!-- Texto destacado como título centrado -->
    <div class="mb-4 text-center">
      <strong class="text-2xl text-yellow-500 dark:text-yellow-100"></strong>
    </div>

    <!-- Contenido del texto -->
    <p class="font-mono text-pretty text-center">
      Con 15 años de experiencia en el ámbito informático, he sido técnico
      informático y he gestionado mi propio local especializado en servicio
      técnico, atención personalizada, diseño grafico y ventas de productos informáticos, entre otros. Desde
      pequeño, he tenido la aspiración de ser programador. En 2023
      me gradue como Tecnico en Tecnologias de la programacion en la Universidad Provincial del Sudoeste,
      tambien finalize un curso de Analista de Datos Jr en la Universidad de Chilecito. Desde entonces me he capacitado 
      y sumado experiencia en diversas tecnologias y lenguajes.
    </p>
  </article>
</section>
