---
---

<section id="sobre-mi" data-section="sobre-mi" class="section undefined scroll-m-20 w-full mx-auto container lg:max-w-xl md:max-w-2xl">
    <h2 class="flex items-center mb-5 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white undefined">
        <svg class="stroke-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M12 4a8 8 0 1 0 0 16a8 8 0 0 0 0 -16" />
            <path d="M15 191 214 -4" />
        </svg>
        
    </h2>
    <article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300">
        <!-- Imagen centrada arriba -->
        <img width="200" height="200" src="/projects/mee.webp" alt="Marco" class="object-cover w-64 h-full p-1 rotate-3 lg:p-2 lg:black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20" style="object-position: 50% 50%" />

        <!-- Texto destacado como título centrado -->
        <div class="mb-4 text-center">
            <strong class="text-2xl text-yellow-500 dark:text-yellow-100">Texto destacado</strong>
        </div>
        
        <!-- Contenido del texto -->
        <p class="font-mono text-pretty text-center">
            Tengo 15 años de experiencia en el mundo de la informática, habiendo tenido mi propio local especializado en atención personalizada, solucion de problemas y servicios técnicos. Me apasiona la programación, especialmente Python y Javascript. Siempre estoy aprendiendo nuevas herramientas.

Fuera de la programación, me mantengo activo haciendo deporte, principalmente saltando la soga y haciendo pesas, disfruto tocar la guitarra y escribir. Y estoy Enamorado de una futura programadora, lo cual me motiva mucho, ya que juntos trabajamos en ideas y proyectos.</p>
    </article>
</section>
