<a
  class="border-gray-600
  dark:text-white/70 rounded-full
    border dark:border-white/20 flex justify-center
    items-center gap-x-2 
    py-1 px-2 md:py-2 md:px-4
    bg-white/5
    text-xs md:text-base
    hover:scale-110 hover:bg-white/15 transition-all duration-300"
  href={Astro.props.href}
>
  <slot />
</a>
